body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    font-weight: 900;
    background-color: #4741af;

}

.mynavbar {
    background-color: #4741af;
}

.navbar-brand {
    font-size: 50px;
}

.nav-link,
.navbar-brand {
    color: white;
}

.banner-heading {
    font-size: 72px;
    font-weight: 800;
}

.banner {
    background-color: #4741af;
    color: white;

}

.py-10 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.banner-btn {
    background-color: #6c63ff;
    color: white;
    padding: 12px 58px;
    font-size: 21px;
    font-weight: 600;
    border-radius: 30px;
}

.banner-btn:hover {
    background-color: white;
    color: #6c63ff;
}

.banner-text {
    font-size: 24px;
}

.text-subtitle {
    color: #6c63ff;
    font-weight: 700;
    font-size: 24px;

}

.text-title {
    font-weight: 700;
    font-size: 48px;
}

.text-p {
    font-size: 17px;
    font-weight: 400;
}

.text-link {
    font-weight: 700;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid #6c63ff;
}

.about-img {
    margin-left: -311px;
}

.service-img-background {
    background-color: #f3f9fb;
    border-radius: 50%;

}

.service-img-background img {
    margin-top: -114px;
    margin-left: 48px;
}

.serivce-icon {
    background-color: #6c63ff;
    color: white;
    padding: 13px;
    border-radius: 50%;
    width: 53px;
    display: block;
    height: 53px;
    text-align: center;
}

.service-title {
    font-size: 21px;
    font-weight: 700;
}

.serivce-icon {
    transition: all 0.7s ease;
}

.service-card:hover span {
    transform: translateX(50px);
}
.full-section{
    background-color: rgb(243, 249, 251);

}